/* Configurações para o corpo da página */
body {
    background-color: rgb(38, 151, 196);
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Configurações para o cabeçalho */
header {
    background-color: white;
    width: 400px;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    color: rgb(38, 151, 196);
    font-size: 18pt;
}

/* Configurações para o conteúdo */
section {
    background-color: white;
    margin: auto;
    font-size: 16pt;
    width: 350px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.253);
}

/* Configurações das divs do <section> para dar margem abaixo */
.cInicio, .cFinal, .cIncre {
    margin-bottom: 25px;
}

/* Configurações dos <inputs> */
#iInicio, #iFinal, #iIncre {
    font-size: 12pt;
    border-radius: 5px;
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}

/* Configuração do botão */
.btn {
    display: block;
    margin: auto;
    border-color: transparent;
    background-color: rgb(38, 151, 196);
    color: white;
    font-size: 14pt;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    transition: .3s;
}

/* Animação do botão quando o mouse estiver encima */
.btn:hover {
    background-color: rgba(38, 151, 196, 0.87);
}

/* Confugações do rodapé da página */
footer {
    text-align: center;
    color: white;
    font-size: 15pt;
    font-style: italic;
}